<form action='<%= maps_url %>' method='post'>
  <label for='lat'>Latitude</label>
  <input type='text' id='lat' name='maps[lat]'>

  <label for='long'>Longitude</label>
  <input type='text' id='long' name='maps[long]'>

  <input type='submit' value='Map it!'>
</form>
